DB_USER=example
DB_PASSWORD=examplepassword
DB_NAME=examplename
DATABASE_URL="postgresql://example:examplepassword@localhost:5432/examplename?schema=public"


# SSH 
AUTH_SECRET=""


# PAYPAL
NEXT_PUBLIC_PAYPAL_CLIENT_ID=""
PAYPAL_SECRET=""